body {
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    
    max-width: 370px;
    min-width: 370px;
    height: 60vh;
    border: 3px 3px 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: large;
    padding:1px;

    background-color:rgb(196, 195, 195)
    
}

#screen {
    min-height: 30%;
    max-height: min-content;
    margin-left: 5px;
    margin-right: 5px;
    display:flex;
    flex-direction: column;
    text-align: right;
    padding:5px;
    background-color: rgb(224, 230, 230); 
    word-break: break-all;
   
}

.currentNumber {
    font-size: larger;
    
}

.previousNumber {
    color: rgb(33, 34, 36)
}

.panel {
    height:50%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 3px;
    padding: 5px;
    font: bold;
}

.panel button {
    font-size: 20px;
    background-color: rgb(227, 231, 233);
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: rgb(220, 223, 224);
}

.equals {
    grid-row: -1/-3;
    grid-column: -1/-2;
}


